* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
  }
  
  a {
    /* todo: check if we can apply theme primary.main too all <a> globaly*/
    color: #359adc;
    text-decoration: none;
  }
  